    <!-- ******ABOUT****** -->
    <section id="about" class="about">
        <div class="container-fluid">
          <div class="row-fluid">
            <h2 class="title text-center">{{ site.t[page.lang].about.title }}</h2>
            <p class="intro text-center lead">
            {% for line in site.t[page.lang].about.description.first.lines %}
                        {{ line }} <br>
            {% endfor %}
            </p>
          </div>
            <div class="row">
                {% assign collection=site.about | where:"lang", page.lang %}
                {% for post in collection %}
                  {% if post.categories contains 'about' limit:include.limit %}
                  <div class="item col-md-3 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="wow bounceIn fa {{ post.icon }}" data-wow-delay=".{{ post.icon-delay }}"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">{{ post.title }}</h3>
                        <p>{{ post.content }}</p>
                    </div><!--//content-->
                  </div><!--//item-->
                  {% endif %}
                {% endfor %}
                <div class="clearfix visible-md"></div>

            </div><!--//row-->

        </div><!--//container-->
<div class="clearfix"></div>
    </section><!--//about-->


