    <!-- ******ABOUT****** -->
    <section id="about" class="about">
        <div class="container-fluid">
          <div class="row-fluid">
            <h2 class="title text-center">¿Qué es gvSIG Roads?</h2>
            <p class="intro text-center lead">
            gvSIG Roads es una solución integral, que permite la gestión de las infraestructuras viarias tanto
            desde su componente alfanumérica como geográfica, basada en estándares y software libre.
            <br>
            Implantar gvSIG Roads permite implantar un completo sistema de gestión para la conservación
            y el inventario de carreteras integrado con la potencia de las Infraestructuras de Datos Espaciales.
            </p>
          </div>
            <div class="row">
                <div class="item col-md-3 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="wow bounceIn fa fa-desktop" data-wow-delay=".3s"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Gestión web</h3>
                        <p>Integra componentes como aplicación de gestión web
                        que permite a las empresas un control rápido y sencillo
                        de la administración del proyecto.
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="wow bounceIn fa fa-map-marker" data-wow-delay=".19s"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">SIG de escritorio</h3>
                        <p>
                        Un SIG potente, fácil de usar, interoperable
                        para la edición y mantenimiento de cartografía
                        con todo tipo de herramientas para analizar y gestionar información geográfica.
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="wow bounceIn fa fa-globe" data-wow-delay=".35s"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Geoportal</h3>
                        <p>
                        Ofrece acceso a recursos y servicios basados en la información geográfica.
                        Permite la gestión, edición y la visualización de los datos geoespaciales
                        de carreteras.
                        </p>
                        <!-- <p>
                        Permite gestionar y editar ejes de carretera, puntos kilométricos y cartografía de fondo,
                        así como elementos de conservación de las carreteras.
                        </p> -->
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="wow bounceIn fa fa-tablet" data-wow-delay=".51s"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Aplicación móvil</h3>
                        <p>
                        Herramienta de fácil manejo, muy intuitiva y con interfaz amigable.
                        Optimizada para dispositivos móviles para tareas de trabajo de campo.
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="clearfix visible-md"></div>

            </div><!--//row-->
            <div class="row">
            <div class="screens">
              <img src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/img/screens/promo-gvsigroads.png" alt="gvSIG Roads" />
            </div>
            </div>

        </div><!--//container-->
<div class="clearfix"></div>
    </section><!--//about-->


