{% assign collection=site.posts | where:"lang", page.lang %}

  {% for post in collection limit: 1 %}
  {% if post.categories contains 'biddings' %}

    <h3 class="title">{{ site.t[page.lang].biddings.title }}</h3>
    <p>{{ site.t[page.lang].biddings.description }}</p>

  {% endif %}
  {% endfor %}

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
          {% for post in collection limit: 5 %}
            {% assign loopindex = forloop.index %}

            {% if loopindex > 1 %}
            <div class="item {% if forloop.first %}active{% endif %}">
              <ul class="list-unstyled">
               {% if post.categories contains 'biddings' %}
                <li>
                  <a href="{{  post.url {{| prepend: site.baseurl }}" title="{{ site.t[page.lang].more }}" data-toggle="tooltip">
                    <span>{{ post.title }} <i class="fa fa-angle-right"></i></span>
                  </a>
                </li>
               {% endif %}
              </ul>
            </div>
            {% endif %}

            {% if loopindex == 1 %}
            <div class="{% if forloop.first %}active{% endif %}">
              <ul class="list-unstyled">
               {% if post.categories contains 'biddings' %}
                <li>
                  <a href="{{  post.url {{| prepend: site.baseurl }}" title="{{ site.t[page.lang].more }}" data-toggle="tooltip">
                    <span>{{ post.title }} <i class="fa fa-angle-right"></i></span>
                  </a>
                </li>
               {% endif %}
              </ul>
            </div>
            {% endif %}


          {% endfor %}
    </div>

    <!-- Indicators -->
    <ol class="carousel-indicators square">
        {% for post in collection limit: 5 %}
        {% assign loopindex = forloop.index %}
            {% if loopindex > 1 %}
            {% if post.categories contains 'biddings' %}
            <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.index0 }}"
            {% if forloop.index0 == 0 %}
                class="active"
            {% endif %}>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
    </ol>

  </div> <!--/Carousel -->

