<section id="developedby">
<div id="cwrap">
    <div class="container">
        <div class="row-fluid centered center">
          <h2 class="section-heading">DESARROLLADO POR</h2>
          <p>Organizaciones involucradas en el proyecto</p>
        </div>
            {% for client in site.clients %}
                <div class="col-xs-3 col-xs-offset-1">
                   <a href="{{client.url}}" target="_blank" title="{{client.title}}">
                    <img src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/img/clients/{{ client.img }}" class="img-responsive">
                   </a>
                </div>
            {% endfor %}
    </div><!--/container -->
</div><!--/cwrap -->
</section>