<!-- CONTACT -->

<section id="contact">

  {% include banner.html %}
        <div class="container contact">
            <div class="row-fluid">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h2 class="section-heading">¿Quieres utilizar gvSIG Roads en tus proyectos?</h2>
                    <hr class="primary">
                    <p>¡Genial, buena elección! <br> Llámanos o envía un email, como prefieras, y nos pondremos en contacto contigo lo antes posible.</p>
                </div>
                <div class="col-xs-4 col-xs-offset-2 text-center wow bounceIn" data-wow-delay=".1s">
                    <i class="fa fa-phone fa-3x"></i>
                    <p><a href="skype:disid_info?call">+34 963 516 309</a></p>
                </div>
                <div class="col-xs-4 text-center wow bounceIn" data-wow-delay=".3s">
                    <i class="fa fa-envelope-o fa-3x"></i>
                    <p><a class="email" href="mailto:hello@gvsigroads.com">hello@gvsigroads.com</a></p>
                </div>
            </div>
        </div>
    </section>

