<!-- CONTACT -->

<section id="contact">

        <div class="container">
            <div class="row-fluid">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h3 class="section-heading">{{ site.t[page.lang].contact.title }}</h3>
                    <hr class="primary">
                    <p>
                    {% for line in site.t[page.lang].contact.description.first.lines %}
                        {{ line }} <br>
                    {% endfor %}
                    </p>
                </div>
                <div class="col-xs-4 col-xs-offset-2 text-center wow bounceIn" data-wow-delay=".1s">
                    <i class="fa fa-phone fa-3x"></i>
                    <p><a href="#">{{ site.tel }}</a></p>
                </div>
                <div class="col-xs-4 text-center wow bounceIn" data-wow-delay=".3s">
                    <i class="fa fa-envelope-o fa-3x"></i>
                    <p><a class="email" href="mailto:{{ site.email }}">{{ site.email }}</a></p>
                </div>
            </div>
        </div>
    </section>

