<!-- CONTACT -->

<section id="contact-comercial">

        <div class="container contact">
            <!-- intro -->
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2 text-center">
                  <h3 class="section-heading">{{ site.t[page.lang].contact.title }}</h3>
                  <hr class="primary">
                  <p>{{ site.t[page.lang].contact.description.first.lines.first }}</p>
              </div>
            </div>
            <div class="spacing"></div>

            <!-- FORMS -->
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2 text-center">

                <div class="panel-group row-fluid" id="accordion">

                  <div class="col-sm-6">
                    <div class="panel panel-default text-center wow pulse" data-wow-delay=".3s">
                        <div class="panel-heading">
                            <span class="fa-stack fa-5x">
                             <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                             <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="panel-title">
                                <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                {{ site.t[page.lang].contact.company }}
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse noCrossRef">
                            <div class="panel-body">
                              <!-- Begin MailChimp Signup Form -->
                              <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                              <style type="text/css">
                                #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                              </style>
                              <div id="mc_embed_signup">
                                <form action="//gvsigroads.us11.list-manage.com/subscribe/post?u=6c8ebdf66f7cedc23b4c8e986&amp;id=9616808aa7&SIGNUP=LicitacionesEmpresa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                    <div id="mc_embed_signup_scroll">
                                    <div class="indicates-required"><span class="asterisk">*</span> campos obligatorios</div>
                                <div class="mc-field-group">
                                  <label for="mce-EMAIL">Correo electrónico  <span class="asterisk">*</span>
                                </label>
                                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                </div>
                                <div class="mc-field-group">
                                  <label for="mce-FNAME">Nombre  <span class="asterisk">*</span>
                                </label>
                                  <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
                                </div>
                                <div class="mc-field-group">
                                  <label for="mce-LNAME">Apellidos  <span class="asterisk">*</span>
                                </label>
                                  <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
                                </div>
                                <div class="mc-field-group">
                                  <label for="mce-EMPRESA">Empresa </label>
                                  <input type="text" value="" name="EMPRESA" class="" id="mce-EMPRESA">
                                </div>
                                <div class="mc-field-group">
                                  <label for="mce-MOTIVO">¿Por qué te interesa gvSIG Roads? </label>
                                  <input type="text" value="" name="MOTIVO" class="" id="mce-MOTIVO">
                                </div>
                                <div class="mc-field-group input-group">
                                  <strong>Y además... </strong>
                                  <ul><li><input type="checkbox" value="1" name="group[15501][1]" id="mce-group[15501]-15501-0"><label for="mce-group[15501]-15501-0"> Acceder a la demo</label></li>
                                  <li><input type="checkbox" value="2" name="group[15501][2]" id="mce-group[15501]-15501-1"><label for="mce-group[15501]-15501-1"> Presentarme a licitaciones</label></li>
                                  <li><input type="checkbox" value="4" name="group[15501][4]" id="mce-group[15501]-15501-2"><label for="mce-group[15501]-15501-2"> Conocer otras funcionalidades de la  herramienta gvSIG Roads</label></li>
                                  <li><input type="checkbox" value="8" name="group[15501][8]" id="mce-group[15501]-15501-3"><label for="mce-group[15501]-15501-3"> Colaborar en proyectos juntos</label></li>
                                  </ul>
                                </div>
                                  <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6c8ebdf66f7cedc23b4c8e986_9616808aa7" tabindex="-1" value=""></div>
                                    <div class="clear text-center"><input type="submit" value="{{ site.t[page.lang].banner.call-to-action }}" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                                    </div>
                                </form>
                              </div>

                              <!--End mc_embed_signup-->
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                  </div>

                  <div class="col-sm-6">
                    <div class="panel panel-default text-center wow pulse" data-wow-delay=".8s">
                        <div class="panel-heading">
                            <span class="fa-stack fa-5x">
                             <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                             <i class="fa fa-university fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="panel-title">
                                <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                {{ site.t[page.lang].contact.council }}
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse noCrossRef">
                            <div class="panel-body">
                              <div id="mc_embed_signup">
                                <form action="//gvsigroads.us11.list-manage.com/subscribe/post?u=6c8ebdf66f7cedc23b4c8e986&amp;id=9616808aa7&SIGNUP=LicitacionesAyuntamiento" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                  <div id="mc_embed_signup_scroll">
                                  <div class="indicates-required"><span class="asterisk">*</span> campos obligatorios</div>
                                <div class="mc-field-group">
                                  <label for="mce-EMAIL">Correo electrónico  <span class="asterisk">*</span>
                                </label>
                                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                </div>
                                <div class="mc-field-group">
                                  <label for="mce-FNAME">Nombre  <span class="asterisk">*</span>
                                </label>
                                  <input type="text" value="" placeholder="Nombre de la persona de contacto" name="FNAME" class="required" id="mce-FNAME">
                                </div>
                                <div class="mc-field-group">
                                  <label for="mce-LNAME">Apellidos  <span class="asterisk">*</span>
                                </label>
                                  <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
                                </div>
                                <div class="mc-field-group">
                                  <label for="mce-EMPRESA">Ayuntamiento </label>
                                  <input type="text" value="" placeholder="Ayuntamiento de ..." name="EMPRESA" class="" id="mce-EMPRESA">
                                </div>
                                <div class="mc-field-group">
                                  <label for="mce-MOTIVO">¿Por qué te interesa gvSIG Roads? </label>
                                  <input type="text" value="" name="MOTIVO" class="" id="mce-MOTIVO">
                                </div>
                                <div class="mc-field-group input-group">
                                  <strong>Y además... </strong>
                                  <ul><li><input type="checkbox" value="16" name="group[15505][16]" id="mce-group[15505]-15505-0"><label for="mce-group[15505]-15505-0"> Solicitar demo</label></li>
                                  <li><input type="checkbox" value="32" name="group[15505][32]" id="mce-group[15505]-15505-1"><label for="mce-group[15505]-15505-1"> Solicitar presupuesto</label></li>
                                  <li><input type="checkbox" value="64" name="group[15505][64]" id="mce-group[15505]-15505-2"><label for="mce-group[15505]-15505-2"> Implantación en mi localidad</label></li>
                                  </ul>
                                </div>
                                  <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                  </div><!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6c8ebdf66f7cedc23b4c8e986_9616808aa7" tabindex="-1" value=""></div>
                                    <div class="clear text-center"><input type="submit" value="{{ site.t[page.lang].banner.call-to-action }}" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                                    </div>
                                </form>
                              </div>
                            </div>
                        </div>
                    </div>
                  <!-- /.panel -->
                  </div>

                </div><!-- /.panel-group -->

              </div>
            </div>
            <div class="spacing"></div>

          <!-- MailChimp Signup Form -->
          <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[6]='EMPRESA';ftypes[6]='text';fnames[3]='MOTIVO';ftypes[3]='text';fnames[4]='USUARIO';ftypes[4]='text';fnames[5]='ACTIVA';ftypes[5]='date';fnames[7]='SIGNUP';ftypes[7]='text'; /*
           * Translated default messages for the $ validation plugin.
           * Locale: ES
           */
          $.extend($.validator.messages, {
            required: "Este campo es obligatorio.",
            remote: "Por favor, rellena este campo.",
            email: "Por favor, escribe una dirección de correo válida",
            url: "Por favor, escribe una URL válida.",
            date: "Por favor, escribe una fecha válida.",
            dateISO: "Por favor, escribe una fecha (ISO) válida.",
            number: "Por favor, escribe un número entero válido.",
            digits: "Por favor, escribe sólo dígitos.",
            creditcard: "Por favor, escribe un número de tarjeta válido.",
            equalTo: "Por favor, escribe el mismo valor de nuevo.",
            accept: "Por favor, escribe un valor con una extensión aceptada.",
            maxlength: $.validator.format("Por favor, no escribas más de {0} caracteres."),
            minlength: $.validator.format("Por favor, no escribas menos de {0} caracteres."),
            rangelength: $.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
            range: $.validator.format("Por favor, escribe un valor entre {0} y {1}."),
            max: $.validator.format("Por favor, escribe un valor menor o igual a {0}."),
            min: $.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
          });}(jQuery));var $mcj = jQuery.noConflict(true);</script>
          <!--End mc_embed_signup-->

        </div>
    </section>

