    <!-- ******FEATURES****** -->
    <section id="features" class="bg-dark features">
        <div class="container text-center center">
          <div class="row-fluid">
            <h2 class="title">{{ site.t[page.lang].features.title }}</h2>
            <p>{{ site.t[page.lang].features.description }}</p>
          </div>
          <div class="row-fluid">
            {% assign collection=site.technology | where:"lang", page.lang %}
            {% for post in collection %}
              {% if post.categories contains 'features' %}
                {{ post.content }}
              {% endif %}
            {% endfor %}
         </div>
        </div><!--//container-->
    </section><!--//features-->
