
<section id="promo" class="promo">
<div id="headerwrap">
    <div class="bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="title">gvSIG<span class="highlight">Roads</span></h1>

                <p class="intro">Solución libre e interoperable <br> para la gestión integral de las infraestructuras viarias
                </p>
                <p><a href="#about" class="btn dmbutton wow pulse">Más info</a></p>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
</section>

