<section id="how-works" class="bg-dark">
  <div class="container-fluid">
    <div class="row text-center center">
        <div class="col-sm-10 col-sm-offset-1">
          <h2 class="title">{{ site.t[page.lang].how.title }}</h2>
          <p>{{ site.t[page.lang].how.description }}</p>
        </div>
    </div>

    <!-- SELECTOR TABS DESKTOP -->
    <div class="row hidden-xs">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
      <ul class="list-unstyled tabs-nav">
        {% assign collection=site.how | where:"lang", page.lang %}
        {% for post in collection %}
        {% if post.categories contains 'how' limit:include.limit %}
        <li class="col-xs-3 col-sm-3 col-md-3 col-lg-3 {% if post.active %}active{% endif %}">
          <a class="{% if forloop.first %}active{% endif %}" href="#{{ post.href }}" data-toggle="tab">{{ post.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      </div>
      <div class="clearfix"></div>
    </div><!-- row -->

    <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">

      <!-- TABS desktop -->
      <div class="tab-content">
        {% assign collection=site.how | where:"lang", page.lang %}
        {% for post in collection %}
        {% if post.categories contains 'how' limit:include.limit %}
        <div class="hidden-xs tab-pane fade {% if post.active %}in active{% endif %}" id="{{ post.href }}">
         <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="lead">{{ post.content }}</div>
          </div>
          <div class="col-sm-6 col-md-8">
            <img class="img-responsive" src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/img/how/{{ post.img }}" alt="">
          </div>
         </div>
        </div><!-- tab pane -->
        {% endif %}
        {% endfor %}
      </div><!-- tab content -->

      <!-- TABS ACCORDION TABLET&MOBILE -->
      <div class="panel-group hidden-sm hidden-md hidden-lg" role="tablist" aria-multiselectable="true">

        {% assign collection=site.how | where:"lang", page.lang %}
        {% for post in collection %}
        {% if post.categories contains 'how' limit:include.limit %}
        <div class="panel panel-default">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" href="#collapse{{ post.href }}">
                {{ post.description }} <i class="pull-right fa fa-plus"></i>
              </a>
            </h4>
          </div>
          <div id="collapse{{ post.href }}" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
             <div class="row">
              <div class="col-xs-12">
                <div class="lead">{{ post.content }}</div>
              </div>
              <div class="col-xs-12">
                <img class="img-responsive" src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/img/how/{{ post.img }}" alt="">
              </div>
             </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
    </div><!-- panel group -->

    </div><!-- col -->
    </div><!-- row -->
 </div><!-- container -->
</section>