
<script src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/js/retina-1.1.0.js"></script>
<script src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/js/jquery.hoverdir.js"></script>
<script src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/js/jquery.hoverex.min.js"></script>
<script src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/js/jquery.prettyPhoto.js"></script>
<script src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/js/jquery.isotope.min.js"></script>

<!-- scrollTo -->
<script src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/js/jquery.scrollTo.min.js"></script>
<script src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/js/jquery.easing.min.js"></script>

<!-- Animate -->
<script src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/js/wow.min.js"></script>

<!-- custom -->
<script src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/js/custom.js"></script>

<!-- mailchimp popup -->
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script>
function showMailingPopUp() {
    require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us11.list-manage.com","uuid":"6c8ebdf66f7cedc23b4c8e986","lid":"9616808aa7"}) })
    document.cookie = "MCEvilPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
};
document.getElementById("open-popup").onclick = function() {showMailingPopUp()};
</script>

<script>
// Portfolio
(function($) {
	"use strict";
	var $container = $('.portfolio'),
		$items = $container.find('.portfolio-item'),
		portfolioLayout = 'fitRows';

		if( $container.hasClass('portfolio-centered') ) {
			portfolioLayout = 'masonry';
		}

		$container.isotope({
			filter: '*',
			animationEngine: 'best-available',
			layoutMode: portfolioLayout,
			animationOptions: {
			duration: 750,
			easing: 'linear',
			queue: false
		},
		masonry: {
		}
		}, refreshWaypoints());

		function refreshWaypoints() {
			setTimeout(function() {
			}, 1000);
		}

		$('nav.portfolio-filter ul a').on('click', function() {
				var selector = $(this).attr('data-filter');
				$container.isotope({ filter: selector }, refreshWaypoints());
				$('nav.portfolio-filter ul a').removeClass('active');
				$(this).addClass('active');
				return false;
		});

		function getColumnNumber() {
			var winWidth = $(window).width(),
			columnNumber = 1;

			if (winWidth > 1200) {
				columnNumber = 4;
			} else if (winWidth > 992) {
		        columnNumber = 4;
			} else if (winWidth > 950) {
				columnNumber = 4;
			} else if (winWidth > 600) {
				columnNumber = 4;
			} else if (winWidth > 400) {
				columnNumber = 1;
			} else if (winWidth > 250) {
				columnNumber = 1;
			}
				return columnNumber;
			}

			function setColumns() {
				var winWidth = $(window).width(),
				columnNumber = getColumnNumber(),
				itemWidth = Math.floor(winWidth / columnNumber);

				$container.find('.portfolio-item').each(function() {
					$(this).css( {
					width : itemWidth + 'px'
				});
			});
		}

		function setPortfolio() {
			setColumns();
			$container.isotope('reLayout');
		}

		$container.imagesLoaded(function () {
			setPortfolio();
		});

		$(window).on('resize', function () {
		setPortfolio();
	});
})(jQuery);
</script>

<!-- cookies consent -->
{% if site.google_analytics %}
<script>
    $(document).ready(function () {
      console.log("Cookies consent loaded");
      $.cookieCuttr();
    });
</script>
{% endif %}