<!-- Fixed navbar -->
<nav id="main-nav" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if page.lang != "es" %}
        <a class="navbar-brand" href="{{ "/"  {{| prepend: site.baseurl}}{{ page.lang }}/">
      {% else %}
        <a class="navbar-brand" href="{{ "/"  {{| prepend: site.baseurl}}">
      {% endif %}
      <img src= "{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/img/logo-gvsigroads-negativo.png" class="img-responsive">
      </a>

    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav menu">
        <li class="hidden"><a href="#page-top"></a></li>
        <li class="nav-item sr-only" style="float:none"><a class="scrollto" href="#promo">HOME</a></li>
        <li class="nav-item sr-only"><a class="scrollto" href="#about">gvSIG Roads</a></li>
        <!-- LINKS in config.yml -->
         {% if page.layout == 'default' %}
         {% for link in site.links[page.lang] %}
              <li class="nav-item">
              {% if link.external %}
                <a class="scrollto" href="{{ link.url }}">{{ link.title }}</a>
                {% else %}
                <a class="scrollto" href="{{ link[1].url | replace: 'http://www.gvsigroads.com','' }}">{{ link[1].title }}</a>
                {% endif %}
              </li>
          {% endfor %}
         {% else %}
           {% for link in site.links[page.lang] %}
                <li class="nav-item">
                  {% if link.external %}
                  <a class="scrollto" href="{{ link.url }}">{{ link.title }}</a>
                  {% else %}
                  <a class="scrollto" href="{{ link[1].url }}">{{ link[1].title }}</a>
                  {% endif %}
                </li>
          {% endfor %}
        {% endif %}
      </ul>
      <ul class="nav navbar-nav">
      <!-- for home -->
        <li class="lang"><a href="{{ site.url }}/en{{ page.url }}">EN</a></li>
        <li class="lang"><a href="{{ site.url }}/" class="{{ page.lang }}">ES</a></li>
      </ul>

    </div><!--/.nav-collapse -->
  </div>
</nav>