<section id="portfoliowrap">
        <div class="center">
        <h2 class="section-heading">{{ site.t[page.lang].portfolio.title }}</h2>
        <p>{{ site.t[page.lang].portfolio.description }}</p>
        </div>
        <div class="recentitems portfolio">
            {% assign collection=site.posts | where:"lang", page.lang %}
            {% for post in collection %}
            {% if post.categories contains 'project' limit:include.limit %}
                <div class="portfolio-item graphic-design">
                    <div class="he-wrap tpl6">
                    <img src="{{ site.url }}{{ site.ASSET_PATH | prepend: site.baseurl }}/img/project/{{ post.img }}" alt="{{ post.title }}" />
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">{{ post.title }}</h3>
                                <a href="{{  post.url {{| prepend: site.baseurl }}" class="a2" data-animate="fadeInDown"><i class="fa fa-plus fa-3x"></i></a>
                            </div><!-- he bg -->
                        </div><!-- he view -->
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->
            {% endif %}
            {% endfor %}
        </div><!-- portfolio -->
</section><!--/Portfoliowrap -->