<!-- SIDEBAR CONTACT -->
<div id="fm-quick-call" class="ad-contact hidden">
  <div class="square first">
    <a class="close-banner" title="Cerrar" rel="tooltip" data-original-title="Cerrar" data-placement="left"><i class="fa fa-times"></i></a>
    <p>{{ site.t[page.lang].sidebar-contact.title }}</p>
    <ul>
      <li>{{ site.t[page.lang].sidebar-contact.item1 }}</li>
      <li>{{ site.t[page.lang].sidebar-contact.item2 }}</li>
      <li>{{ site.t[page.lang].sidebar-contact.item3 }}</li>
    </ul>
  </div>
  <div class="square second go-to" data-go="capture-phone">
    <i class="fa fa-phone fa-3x"></i>
    <!-- <p>(+34) 963 516 309</p> -->
    <p><a class="" id="open-popup-phone">{{ site.t[page.lang].sidebar-contact.call-to-action }}</a></p>

  </div>
</div>
<!-- /.sidebar contact -->