<!-- SIDEBAR CONTACT -->
<div id="fm-quick-call" class="banner-popup">
  <div class="square second go-to" data-go="capture-phone">
    <a class="open-banner pull-left hidden" title="Abrir" rel="tooltip" data-original-title="Abrir" data-placement="left"><i class="fa fa-phone fa-2x"></i></a>
    <a class="close-banner" title="Cerrar" rel="tooltip" data-original-title="Cerrar" data-placement="left"><i class="fa fa-times"></i></a>
    <i class="fa fa-phone fa-3x"></i>
    <p><a id="open-popup-phone">{{ site.t[page.lang].sidebar-contact.call-to-action }}</a></p>
  </div>
</div>

<!-- /.sidebar contact -->