<section id="software" class="bg-dark">
    <div class="container text-center center">
      <div class="row-fluid">
            <h2 class="title">{{ site.t[page.lang].software.title }}</h2>
             <p>
             {% for line in site.t[page.lang].software.description.first.lines %}
                        {{ line }} <br>
             {% endfor %}
            </p>
       </div>
       <div class="row-fluid">
            {% for tool in site.t[page.lang].software.tools %}
                <div class="col-xs-6 col-sm-6 center">
                   <a href="{{ tool.url }}" target="_blank" title="{{ tool.name }}">
                    <img src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/img/logo/{{ tool.img }}" alt="{{ tool.name }}" class="">
                   </a>
                   <h3 class="section-heading">{{ tool.name }}</h3>
                   <p>{{ tool.description }}</p>
                </div>
            {% endfor %}
       </div>

     </div><!--/container -->
</section>