<section id="software" class="bg-dark">
    <div class="container text-center center">
      <div class="row-fluid">
            <h2 class="title">Solución basada en una suite de aplicaciones libres</h2>
             <p>Libre e interoperable.
            Dispone de todo el código fuente de las aplicaciones, el acceso a todos los datos que se
            generen es completo y se basa en el uso de estándares y formatos abiertos, sin coste alguno de licencia.
            </p>
       </div>
       <div class="row-fluid">
            <div class="col-sm-6 centered">
               <a href="http://www.gvsig.com" target="_blank" title="gvSIG Website">
                <img src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/img/logo/logo_gvsigdesktop.png" alt="gvSIG Desktop">
              </a>
              <h3 class="section-heading">gvSIG Desktop</h3>
              <p>Software para el manejo de información geográfica con precisión cartográfica</p>
            </div>
            <div class="col-sm-6 center">
              <a href="http://www.gvnix.org" target="_blank" title="gvNIX Website">
              <img src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/img/logo/logo-gvnix-negativo.png" alt="gvNIX">
              </a>
              <h3 class="section-heading">gvNIX</h3>
              <p>Herramienta de desarrollo rápido de aplicaciones web Java</p>
            </div>

       </div>

     </div><!--/container -->
</section>