    <!-- SUSCRIBE MAILCHIMP -->
    <section id="demo" class="bg-dark">
        <div class="container">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
                <div class="call-to-action center">
                    <h2 class="title text-center">{{ site.t[page.lang].suscribe.title }}</h2>
                    <p class="text-muted">
                    {% for line in site.t[page.lang].suscribe.description.first.lines %}
                        {{ line }} <br>
                    {% endfor %}
                    </p>
                </div>
            </div>
            </div>

            <div class="row">
              <div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 text-center">

              <!-- This is the HTML element that, when clicked, will cause the Mailchimp popup to appear. -->
              <button id="open-popup" class="btn dmbutton btn-xl wow pulse" data-wow-delay=".6s">{{ site.t[page.lang].suscribe.button }}</button>

            </div>
            </div>
        </div>
    </section>