<section id="video-section">
<div class="content-section-video">
        <div class="container">
            <div class="row wow fadeInUp" data-wow-delay=".6s">
                <div class="col-md-12 center">
                    <h2 class="section-heading">La mejor solución para la gestión <br> de la conservación de carreteras</h2>
                    <p>Gestión de incidencias, inventario y flujo de trabajo con gvSIG Roads</p>
                </div>
                <div class="col-md-8 col-md-offset-2">
                  <div class="video-show">
                    <!-- fit -->
                    <div class="fit">
                      <div class="fluid-width-video-wrapper">
                      <iframe src="http://www.youtube.com/embed/Oc2_C4rWl5Q?modestbranding=1&autohide=1&showinfo=0&controls=0&rel=0" frameborder="0" allowfullscreen></iframe>
                      </div>
                    </div><!-- /fit -->
                    <img src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/img/screens/frame.png" alt="Macbook Frame" class="img-responsive">
                   </div><!-- /video-show -->
                </div>
                <div class="clearfix"></div>
            </div>
        </div> <!-- /.container -->
    </div><!-- /.content-section-b -->
 </section>