 <!-- VIDEO SUPPORT -->
  <div class="col-sm-8 col-sm-offset-2 centered">
                <div class="video-show">
                        <!-- fit -->
                        <div class="fit-full">
                          <div class="fluid-width-video-wrapper"><iframe src="http://www.youtube.com/embed/{{ page.video }}?modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" allowfullscreen"></iframe></div>
                        </div><!-- /fit -->
                        <img src="{{ site.url }}{{ site.ASSET_PATH  | prepend: site.baseurl }}/img/screens/frame-full.png" alt="Macbook Frame" class="img-responsive">
                </div><!-- /video-show -->

  </div>
